.ms-loader {
  --color: #58c4dc;

  box-sizing: border-box;

  color: inherit;
  background-color: transparent;

  margin: 0;
  padding: 0;

  &.ms-loader--spinner {
    width: 2rem;
    padding: 0.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color);
    --_m:
      conic-gradient(transparent 10%, var(--color)),
      linear-gradient(var(--color) 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spinner 1s infinite linear;
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
