.ms-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1;
    pointer-events: none;

    &-- {
        &visible {
            opacity: 1;
            z-index: 9;
            cursor: pointer;
            pointer-events: auto;
        }
    }
}