.ms-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    &.ms-container--page-container {
        min-height: 100vh;
    }

    // &.ms-container--narrow {
    //     max-width: 600px;
    // }

    // &.ms-container--wide {
    //     max-width: 100%;
    // }

    // &.ms-container--text {
    //     max-width: 700px;
    // }

    // &.ms-container--small {
    //     max-width: 800px;
    // }

    // &.ms-container--medium {
    //     max-width: 1000px;
    // }

    // &.ms-container--large {
    //     max-width: 1200px;
    // }
}