.ms-notifications {
  position: fixed;
  z-index: 1000;

  bottom: 1rem;
  right: 2rem;
  top: auto;
  left: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;

  &__ {
    &notification {
      position: relative;

      color: white;

      padding: 1rem;

      border-radius: 12px;

      cursor: pointer;

      &-- {
        &info {
          background-color: rgb(84, 160, 255);
        }

        &warning {
          background-color: rgb(243, 156, 18);
        }

        &error {
          background-color: rgb(232, 76, 60);
        }

        &success {
          background-color: rgb(48, 203, 131);
        }

        &loading {
          background-color: rgb(239, 243, 245);
          color: rgb(20, 27, 31);
        }
      }
    }
  }
}